$white: #fff;
$dark: #000;
$purple: #9564aa;
$dark-purple: #684677;
$orange: #ffcf2d;

$borger-radius: 10px;
$border-aside: 2px solid rgba(149, 100, 170, 0.2);
$border-card: 2px solid #9564aa;
$border-large-card: 2px solid #aa6464;

$font-family: Ubuntu, sans-serif;

$container-width-desktop: 1170px;

$transition-duration: 0.2s;